<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sigh Up</title>
</head>
<body>
    <h2><i><u>Sign Up</u></i></h2>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="username">Username :</label>
        <input type="text" name="username"><br><br>
        <label for="email">Gmail :</label>
        <input type="email" name="email"><br><br>
        <label for="password">Password :</label>
        <input type="password" name="password"><br><br>
        <input style="padding: 0.5rem 2rem; border-style: none;" type="submit" value="Sign Up"><br><br>
        {% if user %}
            <b><i>Username {{ user }} created successfuly!</i></b>
        {% endif %}
        {% if error_message %}
            <i><b>{{ error_message }}</b></i>
        {% endif %}
    </form>
</body>
</html>